h1{
    color: black;
    font-size: 50px;
}
ol{
    font-size: 50px;
}
a{
    font-size: 50px
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url("picture/background(1).jpg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    size: 100%;
    top: 0;
}